@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Kameron:wght@400;700&family=Nanum+Myeongjo:wght@400;800&display=swap');

body {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 18px;
  background: url(./images/bg.jpg);
}

h1, h2, h3 {
  font-family: 'Crimson Text', serif;
}

.price {
  font-family: 'Kameron', serif;
}

.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 999;
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

.screen {
  position: relative;
}

.screen .screen-shadow {
  position: relative;
  width: 250px;
  height: 550px;
  top: 20px;
  left: 20px;
  margin-bottom: -550px;
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.75);
}

.screen .frame {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.screen .inner {
  position: relative;
  top: -607px;
  height: 607px;
  margin-bottom: -607px;
  left: 7px;
  z-index: 1;
  border-radius: 40px;
}

